.img-row {
  gap: 30px;
  padding: 0 15px;

  list-style: none;
  margin: 0 auto;
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;

  &__li {
    @media (min-width: 768px) {
      width: 354px;
    }
  }

  &__box {
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 1px;
    background-color: #f5f4fa;
    border-radius: 4px;
    height: 120px;
    margin-bottom: 30px;
    justify-content: center;
  }

  &__h3 {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    text-align: center;
  }

  &__text {
    color: $gray;
    font-size: 14px;
    line-height: 1.71;
    margin-bottom: 30px;
  }
}

// @media (min-width: 768px) {
//   max-width: 768px;
// }
