.header-line {
  border-bottom: 1px solid #ececec;
  // padding: 13px 0;
height: 80px;
    padding-top: 27px;

    // @media (min-width: 768px) {

    //   height: 80px;

    // }

    // @media (min-width: 1200px) {

    //   height: 80px;

    // }
}

.main-nav {
  display: flex;

  @media (min-width: 768px) {
    display: block;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
  }

  &__mobile-flex {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    @media (min-width: 768px) {
      align-items: center;
    }
    @media (min-width: 1200px) {
      justify-content: flex-start;
      gap: 93px;
    }
  }

  // display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo-apk {
    padding-top: 16px;
    margin-left: 15px;
    @media (min-width: 768px) {
      display: flex;
    }
  }

  &__logo {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 26px;
    text-decoration: none;

    &--blue {
      color: $blue-hover;
    }

    &--black {
      color: $dark-black;
    }

    &--white {
      color: $light-gray;
    }
  }

  &__apk {
    display: none;
    flex-wrap: wrap;
    margin: 0;
    padding-inline-start: 0px;
    gap: 50px;
    align-items: center;
    list-style: none;
    @media (min-width: 768px) {
      display: flex;
    }
  }

  &__apk-item {
    display: none;
    text-decoration: none;
    list-style-type: none;
    color: inherit;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @media (min-width: 768px) {
      display: flex;
    }

    &:hover {
      color: $blue-hover;
    }

    &--bar::after {
      content: "";
      position: absolute;
      display: block;
      width: 58px;
      height: 4px;
      background: $blue-hover;
      right: 50%;
      transform: translatex(50%);
      bottom: -26px;
      border-radius: 2px;
      @media (min-width: 1200px) {

        bottom: -30px;
  
      }
    }
  }

  &__contacts {
    display: none;
    padding-left: 0px;
    align-items: baseline;
    list-style: none;
    @media (min-width: 768px) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    @media (min-width: 1200px) {
      flex-direction: row;
       justify-content: space-between;
       margin-left: 230px;
    }
  }

  &__contacts-data {
    color: $gray;
    text-decoration: none;
    font-size: 14px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      color: $blue-hover;
      fill: $blue-hover;
    }

    @media (min-width: 1200px) {
      margin-right: 30px;
    }
  }

  &__contacts-icon {
    margin-right: 10px;
    // margin-left: 32px;

    &:hover {
      fill: $blue-hover;
    }
  }
}
