.container {
  max-width: 480px;

  @media (min-width: 768px) {
    max-width: 768px;
  }

  margin: 0 auto;

  &--hide {
    display: none;
  }

  &--bottom60 {
    padding-bottom: 60px;
  }
}

.section {
  // padding-bottom: 94px;
  // padding-top: 94px;

  &--bg-color {
    background-color: $light-gray;
  }

  &--padding {
    padding-top: 0;
  }

  &--image-overlay {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/img-overlay.jpeg");

    margin: 0 auto;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.section-title {
  text-align: center;
  padding-bottom: 50px;
  margin: 0;
  font-size: 36px;
}
